<!DOCTYPE html>
<html lang='pt-br'>

<head>

    <meta charset="UTF-8">
    <title>tESTANDO BANCO DE DADOS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            //código para exibir os modais
        });
    </script>


    <table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Nome_Feriado</th>
                <th>Data_Feriado</th>
                <th>Ação</th>


            </tr>
        </thead>
        <tbody>
            <% for (var i=0;i<chamada.length; i++){%>

                <tr>

                    <td>
                        <%= chamada[i].nome_feriado%>
                    </td>
                    <td>
                        <%= chamada[i].data_feriado%>
                    </td>
                    <td><button type="button" class="btn btn-warning btn-sm edit"
                            id="`+chamada.chamada[i]].id+`">Edit</button>&nbsp;<button type="button"
                            class="btn btn-danger btn-sm delete" onclick="apagarCampo()" data-toggle="modal"
                            data-target="#meuModal" id={$}data-id="`+chamada.chamada[i].id+`">Delete</button>
                    </td>


                </tr>
                <%}%>
        </tbody>


    </table>
    <script>
        function apagarCampo() {
            var resposta = confirm("deseja remover esse registro?");
            if (resposta == true) {
                window.location.href = ""
            }
        }    </script>


</body>

</html>